:root{
    font-family: sans-serif;
    font-weight: lighter;
}   


.tv{
    position: relative;
}

.pleer{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10%;
}

.pleer video{
    max-width: 600px;   
}

.viborserii{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.viborserii ul > li{
    display: inline-block;

    color: white;
    background: rgb(0, 100, 230);
    border: 0;
    border-radius: 30px;
    font-size: 21px;
    padding: 13px;
    padding-left: 25px;
    padding-right: 25px;

    font-family: sans-serif;
    font-weight: lighter;

    margin-left: auto;
    margin-right: auto;
}

.title h3{
    color: rgb(0, 100, 230);
}