@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

.block {
    margin-top: 44px; /* Высота хедера = 44рх, отступим */
}

.ubcall {
    display: flex;
    flex-wrap: wrap;

    padding: 12px;
    background: red;

    border-radius: 25px;
}

img {
    flex-grow: 0.5;
    max-width: 400px;
    width: 100%;

    display: block;
    margin: auto;
}

.text {
    display: block;
    flex-grow: 30;

    padding: 12px;
}

.text > h1 {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

@media screen and (max-width: 650px) {
    .text > h1 {
        text-align: center;
    }
}