body, html {
    padding: 0;
    margin: 0;

    background: rgb(20, 20, 20);
}

body {
    /* background-image: url(assets/background.jpg); */
    background-size: cover;
    background-position: center;
}

button {
    background-image: linear-gradient(#255cd2, #1d52c1);
    border: none;
    outline: none;

    padding: 7px;
    padding-left: 25px;
    padding-right: 25px;

    font-family: Helvetica;
    color: rgb(220, 220, 220);

    border-radius: 5px;
}

.header {
    position: relative;
    width: 100%;
    height: 25px;

    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(50px);
}

.header > ul {
    justify-content: left;
    display: flex;
}

ul {
    list-style: none;
    padding: 0;
}
li {
    margin-left: 5px;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: lighter;

    color: rgb(210, 210, 210);
    
    line-height: 25px;
}
.title {
    margin-left: 25px;
    margin-right: 10px;
    font-weight: bolder;
}

li > a {
    text-decoration: none;
    color: inherit;

    display: block;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, .2);
}

li > a:hover {
    background: rgba(250, 250, 250, .4);
}

.container {
    position: absolute;
    left: 35px;
    right: 35px;
    bottom: 35px;
    top: 50px;

    background: rgba(10, 10, 10, .8);
    backdrop-filter: blur(10px);

    border-radius: 5px;
    overflow: hidden;
}

.controls {
    width: 100%;
    height: 35px;

    background: linear-gradient(0deg, rgb(35, 35, 35), rgb(50, 50, 50));
    position: relative;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 1);
}

.controls > span {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    font-family: Helvetica;
    color: rgb(160, 160, 160);
    font-size: 14px;
    font-weight: bolder;
}

.content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 35px;

    display: grid;
    grid-template-columns: 200px 1fr;
}

* {
    font-family: Helvetica;
}

li, a {
    cursor: default;
}

.browser > ul > li > a:hover {
    background: transparent;
}
.browser > ul > li {
    margin-left: 0;
}
.browser > ul > li > a {
    padding-left: 20px;
}

.active {
    background: rgba(0, 100, 250, .3);
}

.users {
    background: rgba(40, 40, 40, .8);
}

table {
    width: 100%;
    border-spacing: 0px 0px;
    border-collapse: collapse;
}

table > * {
    color: rgb(200, 200, 200);
}

thead {
    background: rgba(0, 0, 0, .4);
    border: 1px rgb(0, 0, 0) solid;
}
thead > tr > td {
    padding: 5px;
    box-shadow: 1px 0px rgba(255, 255, 255, .2);
}

td {
    padding-left: 5px;
}

tbody > tr > td {
    padding: 5px;
}

tbody > tr {
    background: rgba(10, 10, 10, .8);
}

tbody > tr:nth-child(even) {
    background: rgba(30, 30, 30, .0);
}

tbody > tr {
    cursor: default;
    user-select: none;
}