body,html{
    margin: 0;
    padding: 0;
    background: rgb(25, 25, 25);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    font-family: sans-serif;
}

.header{
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 42px;
    background: rgba(0, 0, 0, 0.5);
}

div.header {
    z-index: 9999
}

a#novigationList {
    color: rgb(198, 198, 198);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;

    font-size: 17px;
    line-height: 42px;

    margin-right: 13px;
}

a#novigationList:hover {
    color: rgb(255, 255, 255)
}

.list {
    position: absolute; 
    left: 50%; 
    transform: translate(-50%, 0);
}

button {
    display: block;
    margin: auto;

    margin-top: 16px;
    padding: 11px;
    background: rgb(0, 197, 33);
    border: 0;
    border-radius: 30px;
    font-size: 21px;
    padding-left: 22px;
    padding-right: 22px;

    font-family: sans-serif;
    font-weight: lighter;

    color: rgb(9, 9, 9);
    cursor: pointer;
}
